@import '../../../../../styles/variables';

  .add-comment {
    padding: $spacer;
    padding-top: 2*$spacer;

    .sm-font {
      font-size: $sm-font-size;
    }

    .message {
      margin-top: $spacer;
    }
  }
