<div class="create-category-container">
    <div class="header">
      <h4 class="title">Create category</h4>
    </div>
  
    <form class="forum-form" [formGroup]="formGroup">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" formControlName="title">
      </div>
      
      <div class="form-group">
        <textarea class="form-control" id="forum-text" rows="10" placeholder="How would you describe this category?"
          formControlName="text"></textarea>
      </div>
  
      <button type="button" class="w-100-btn btn btn-dark" (click)="createCategory()" [disabled]="!formGroup.valid">
        Post category
      </button>

      <p class="error-message danger-font" *ngIf="errorMessage">{{errorMessage}}</p>
    </form>
  </div>