@import '../../../../styles/variables';

.nav {
  .notif {
    font-size: .9rem;
    font-weight: 700;
    padding-left: .2*$spacer;
  }
}

.tab-content {
  border: $light-border-line;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: none;
  padding: $spacer;
  padding-top: 0;

  .tab-pane {
    font-size: .9rem;
  }
}

@media (max-width: 900px) {
  .tab-content {
    padding: 0;
  }
}
