<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active normal-font-colour" data-toggle="tab" href="#accordion">Comments
      <span class="notif accent-colour">{{commentsCount}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link normal-font-colour" data-toggle="tab" href="#add-comment">Add comment</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <!-- Comments panel -->
  <div class="tab-pane container active" id="accordion">
    <app-comments-listing
      [commentsCount]="commentsCount"></app-comments-listing>
  </div>

  <!-- Add new comment panel -->
  <div class="tab-pane container fade" id="add-comment">
    <app-add-comment></app-add-comment>
  </div>
</div>
