<div class="create-forum-container">
  <div class="header">
    <h4 class="title">Create forum</h4>
  </div>

  <form class="forum-form" [formGroup]="formGroup">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" formControlName="category">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="forum-text" rows="10"
        placeholder="What would you like to discuss about?" formControlName="text"></textarea>
    </div>

    <button type="button" class="w-100-btn btn btn-dark" (click)="createForum()">
      Post forum
    </button>
  </form>
</div>
