@import '../../../styles/variables';

.side-panel-container {
  margin-top: 2*$component-spacing;
  position: fixed;
  width: $side-panel-width - 0.05rem;
  height: 100%;

  .side-panel-header {
    margin-left: $component-spacing;
    margin-bottom: $component-spacing;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .category-list {
    border-top: $border-line;

    .list-group {
      border-bottom: $border-line;

      .list-group-item {
        padding-left: 2rem;
      }
    }
  }
}
