@import '../../../styles/variables';

.side-panel-container {
  padding-top: 2*$spacer;
  position: fixed;
  border-right: $border-line;
  width: $side-panel-width - 0.05rem;
  height: 100%;
  background-color: white;

  .side-panel-header {
    margin-left: $spacer;
    margin-bottom: $spacer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .category-list {
    .list-group {
      border-radius: 0;

      .list-group-item {
        border: none;
        padding-left: 2rem;
      }

      .clicked {
        filter: $darken-filter;
        font-weight: 700;
      }
    }
  }
}
