@import '../../../../styles/variables';

.card {
  border-right: none;
  border-left: none;
  border-top: none;

  .card-body {
    .sub-text {
      color: $light-grey;
      font-size: .8rem;
      line-height: 0;
    }
  }
}
