<div class="forums-listing-container" *ngIf="forums$ | async as forums">
  <ng-container *ngIf="forums.length > 0; else emptyListing">
    <div class="card" *ngFor="let forum of forums">
      <div class="card-body">
        <h4 class="card-title clickable accent-colour"
          (click)="goToForum(forum)">
          {{forum.title}}</h4>
        <p class="card-text text-truncate">{{forum.text}}</p>
        <p class="sub-text">Created at {{forum.creationDate | date:'medium'}}</p>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #emptyListing>
  <p class="empty-message">There are no forums available.</p>
</ng-template>
