@import '../../../../styles/variables';

.forums-listing-container {
  @media (max-width: 900px) {
    max-width: calc(100vw - 0rem - 5rem);
  }

  @media (min-width: 901px) {
    max-width: calc(100vw - 17rem - 5rem);
  }

  .card {
    border-right: none;
    border-left: none;
    border-top: none;
  }
}

.empty-message {
  margin: 2*$spacer;
  margin-left: $spacer;
}
