<nav *ngIf="count > 0">
  <ul class="pagination">
    <li class="page-item"
      [ngClass]="{'disabled': pageNumber === 0}">
      <a class="page-link"
        [ngClass]="{'clickable link': pageNumber > 0}"
        (click)="goToPrevPage()">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-descr normal-font-colour">Page {{pageNumber + 1}} of {{totalPages}}</a>
    </li>
    <li class="page-item"
      [ngClass]="{'disabled': pageNumber === totalPages}">
      <a class="page-link"
        [ngClass]="{'clickable link': pageNumber < totalPages}"
        (click)="goToNextPage()">Next</a>
    </li>
  </ul>
</nav>
