@import '../../styles/variables';

.create-forum {
  margin-right: $spacer;
}

// 768px is bootstrap's min width for class 'navbar-expand-md'
@media (max-width: 768px) {
  .create-forum, .user-menu {
    margin-bottom: $spacer;
    margin-top: $spacer;
  }
}
