<div class="user-menu-container">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      {{username}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <div *ngIf="!loggedIn">
        <input class="dropdown-item" placeholder="Username" [(ngModel)]="usernameInput"/><br />
        <input class="dropdown-item" placeholder="Password" type="password" [(ngModel)]="passwordInput"/><br />
        <button class="dropdown-item" type="button" (click)="login()">Log In</button><br />
        <button class="dropdown-item" type="button" (click)="createAccount()">Create Account</button>
      </div>
      <button class="dropdown-item" type="button" (click)="logout()" *ngIf="loggedIn">Log out</button>
    </div>
  </div>
</div>