.home-container {
  border: 1px solid yellow;

  .nav {
    border: 1px solid red;
  }

  .side-panel {
    border: 1px solid green;
  }

  .forums-panel {
    border: 1px solid blue;

    .forum-container {
      border: 1px solid aqua;
    }
  }
}
