@import './variables';

* {
  margin: 0;
}

html, body {
  max-width: 100%;
  font-size: 14px;
}

.clickable {
  &:hover {
    cursor: pointer !important;
    filter: $darken-filter !important;
  }
}

.accent-colour {
  color: $logo-green;
}

.sub-text {
  color: $light-grey;
  font-size: $sm-font-size;
  line-height: 0;
}

.sm-font {
  font-size: $sm-font-size;
}

.light-font-colour {
  color: $light-grey;
}

.normal-font-colour {
  color: $dark-grey !important;
}

.link {
  color: $blue-link;
}

.danger-font-colour {
  color: $danger-red;
}

.w-100-btn {
  margin-top: $spacer;
  width: 100%;
  padding: $spacer;
}
