
// Colours
$light-grey: #969696;
$logo-green: #7FC73F;
$darken-filter: brightness(0.8);

// Spacing
$component-spacing: 1rem;
$side-panel-width: 18rem;
$nav-bar-height: 4rem;

// Others
$border-line: 1px solid lightgrey;
