@import '../../../styles/variables';

.home-container {
  margin-top: $nav-bar-height;
  margin-bottom: $spacer;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: $side-panel-width auto;
  grid-template-areas:
    "side-panel forums-listing";

  .side-panel {
    grid-area: side-panel;
    border-right: $border-line;
  }

  .forums-panel {
    margin: 2*$spacer;
    grid-area: forums-listing;
  }
}
